.Header{
height: 50px;
    background-color: palevioletred;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 25px;
}
.Header a{
    text-decoration: none;
    color: antiquewhite;
}
.Header a[class='active']{
    color: lightskyblue;
}